html {
	background-color: #53C15A;
}

body {
	background-color: white;
}


#term-background {
	background-color: #53C15A;
}

.status {
	border: 15px solid #53C15A; 
	font-weight: bold;
	color: black;
	background-color: white;
	padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.done-true{
	background-color: #53C15A;
	color: white;
}

/* cover */

#cover {
    background: #53C15A url('img/stars.jpg') center center no-repeat;
    background-size: cover;
    color: black;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

#cover-caption {
    width: 100%;
}

.section-content {
    padding: 5rem 0;
}

.border {
	border: 5px;
	color: black;
}


/* ONLY STAGE AND ADD THIS FILE -- NOT THE HTML!! */