html {
	background-color: #53C15A;
}

body {
	background-color: white;
}


#term-background {
	background-color: #53C15A;
}

.status {
	border: 15px solid #53C15A; 
	font-weight: bold;
	color: black;
	background-color: white;
	padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 25px;
}

.done-true{
	background-color: #53C15A;
	color: white;
}

#welcome {
	 position: absolute;
    right: 20px;
    top: 2px;
}

#logout {
	    padding-left: 8px;
	        margin-right: 10px;
}

#list {
	color: white;
}

div.container {
	padding-bottom: 40px
}

/* ONLY STAGE AND ADD THIS FILE -- NOT THE HTML!! */