<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        
        <!-- Bootstrap stuff -->
        
        
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
          
    <link rel="stylesheet" href="style.css"></link>

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        
        
        
        
    </head>
    <body>
    
    
    <section  id="cover">
        <div  id="cover-caption">
            <div class="container">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1 class="welcome-message">Welcome to Term Tracker</h1>
    
        <div  th:if="${param.error}">
           <p> Invalid username and password.</p>
        </div>
        <div class="container welcome-message" th:if="${param.logout}">
            <strong>You have been logged out.</strong>
        </div>
        <form th:action="@{/login}" method="post">
            <div><label><input type="text" name="username" placeholder="username"/> </label></div>
            <div><label><input type="password" name="password" placeholder="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        </div>
        </div>
        </div>
        </section>
    </body>
</html>