<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
          
    <link rel="stylesheet" href="style.css"></link>

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
            
</head>
<body>
            <script src="functionality.js"></script>
<h1>Search Terms</h1>

<form action="/search">
    <input type="text" name="title"/> <input type="submit"
                                             value="Search"/>
</form>

<!-- Link back to the complete list after search -->
<a href="/all">Click here to view the full list of terms</a>

<h1>Add Term</h1>

<form action="/add">
    <input type="text" name="title"/> <input type="submit"
                                             value="Add"/>
</form>

<h1>Remove Term</h1>

<form action="/remove">
    <input type="text" name="title"/> <input type="submit"
                                             value="Remove"/>
</form>

<h1>List of Terms</h1>

<!-- Put the for-each loop inside the tag you want to repeat -->
<div id="term-background"><div th:each="term : ${terms}" th:class="'col-xs-6 col-sm-4 col-md-3 col-lg-2 status done-' + ${term.termStatuses.get(0).done}" th:id="'termStatuses-' + ${term.termStatuses.get(0).id}"
     th:text="${term.title}">
</div></div>
</body>
</html>